---
    import Head from '../../components/Head.astro';
    import BackArrow from '../../components/BackArrow.astro';
    import Zoompic from '../../components/Zoompic.astro';
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <Head />
    </head>
    <body class="zoom-main">
        <BackArrow href="/page3" />
        <Zoompic src="/assets/portrait/20210918_112452.webp" />
    </body>
</html>