---
	import Head from '../components/Head.astro';
	import Header from '../components/Header.astro';
	import BackArrow from '../components/BackArrow.astro';
	import ForwardArrow from '../components/ForwardArrow.astro';
	import Thumbpic from '../components/Thumbpic.astro';
---
<html lang="en">
	<head>
		<Head />
	</head>
	<body>
		<main>
			<Header />
			<div class="arrows">
				<BackArrow href="http://alphatree.services" />
				<ForwardArrow href="/page2" />
			</div>
			<div class='grid-container2'>
				<Thumbpic href='/l1/zoompic_1' src="/assets/landscape/20201112_105838_thumb.webp" />
				<Thumbpic href='/l1/zoompic_2' src="/assets/landscape/20211022_083103_thumb.webp" />
				<Thumbpic href='/l1/zoompic_3' src="/assets/landscape/20201121_141845_thumb.webp" />
				<Thumbpic href='/l1/zoompic_4' src="/assets/landscape/20201112_105832_thumb.webp" />
				<Thumbpic href='/l1/zoompic_5' src="/assets/landscape/20211023_111619_thumb.webp" />
				<Thumbpic href='/l1/zoompic_6' src="/assets/landscape/20201121_141838_thumb.webp" />
				<Thumbpic href='/l1/zoompic_7' src="/assets/landscape/20211023_111607_thumb.webp" />
				<Thumbpic href='/l1/zoompic_8' src="/assets/landscape/20210114_141712_thumb.webp" />
				<Thumbpic href='/l1/zoompic_9' src="/assets/landscape/20201112_104620_thumb.webp" />
				<Thumbpic href='/l1/zoompic_10' src="/assets/landscape/20210114_140555_thumb.webp" />
				<Thumbpic href='/l1/zoompic_11' src="/assets/landscape/20201121_141544_thumb.webp"/>
				<Thumbpic href='/l1/zoompic_12' src="/assets/landscape/20210907_174135_thumb.webp" />
				<Thumbpic href='/l1/zoompic_13' src="/assets/landscape/20201121_154954_thumb.webp" />
				<Thumbpic href='/l1/zoompic_14' src="/assets/landscape/20201121_141826_thumb.webp" />
				<Thumbpic href='/l1/zoompic_15' src="/assets/landscape/20201121_141549_thumb.webp" />
				<Thumbpic href='/l1/zoompic_16' src="/assets/landscape/20200520_143645_thumb.webp" />
				<Thumbpic href='/l1/zoompic_17' src="/assets/landscape/20201121_154747_thumb.webp" />
				<Thumbpic href='/l1/zoompic_18' src="/assets/landscape/20201121_141608_thumb.webp" />
			</div>
			<h1>360 516 8933</h1>
		</main>
	</body>
</html>
