---
	import Head from '../components/Head.astro';
	import Header from '../components/Header.astro';
	import BackArrow from '../components/BackArrow.astro';
	import ForwardArrow from '../components/ForwardArrow.astro';
	import Thumbpic from '../components/Thumbpic.astro';
---
<html lang="en">
	<head>
		<Head />
	</head>
	<body>
		<main>
			<Header />
			<div class="arrows">
				<BackArrow href="/page2" />
				<ForwardArrow href="/" />
			</div>
			<div class='grid-container'>
				<Thumbpic href='/p3/zoompic_35' src="/assets/portrait/20201119_100147_thumb.webp" />
				<Thumbpic href='/p3/zoompic_36' src="/assets/portrait/20210918_105132_thumb.webp" />
				<Thumbpic href='/p3/zoompic_37' src="/assets/portrait/20210703_114203_thumb.webp" />
				<Thumbpic href='/p3/zoompic_38' src="/assets/portrait/20201112_103812_thumb.webp" />
				<Thumbpic href='/p3/zoompic_39' src="/assets/portrait/20210709_093636_thumb.webp" />
				<Thumbpic href='/p3/zoompic_40' src="/assets/portrait/20210703_114205_thumb.webp" />
				<Thumbpic href='/p3/zoompic_41' src="/assets/portrait/20210901_110336_thumb.webp" />
				<Thumbpic href='/p3/zoompic_42' src="/assets/portrait/20201112_112326_thumb.webp" />
				<Thumbpic href='/p3/zoompic_43' src="/assets/portrait/20210907_161053_thumb.webp" />
				<Thumbpic href='/p3/zoompic_44' src="/assets/portrait/20210901_110234_thumb.webp" />
				<Thumbpic href='/p3/zoompic_45' src="/assets/portrait/20210918_112452_thumb.webp" />
				<Thumbpic href='/p3/zoompic_46' src="/assets/portrait/20210114_144538_thumb.webp" />
				<Thumbpic href='/p3/zoompic_47' src="/assets/portrait/20210901_110619_thumb.webp" />
				<Thumbpic href='/p3/zoompic_48' src="/assets/portrait/20211021_145212_thumb.webp" />
				<Thumbpic href='/p3/zoompic_49' src="/assets/portrait/20210901_110316_thumb.webp" />
				<Thumbpic href='/p3/zoompic_50' src="/assets/portrait/20210901_110629_thumb.webp" />
				<Thumbpic href='/p3/zoompic_51' src="/assets/portrait/20210918_105104_thumb.webp" />
				<Thumbpic href='/p3/zoompic_52' src="/assets/portrait/20201112_101000_thumb.webp" />
				<Thumbpic href='/p3/zoompic_53' src="/assets/portrait/20201112_112404_thumb.webp" />
				<Thumbpic href='/p3/zoompic_54' src="/assets/portrait/20201121_142519_thumb.webp" />
				<Thumbpic href='/p3/zoompic_55' src="/assets/portrait/20201112_120634_thumb.webp" />
				<Thumbpic href='/p3/zoompic_56' src="/assets/portrait/20210114_131757_thumb.webp" />
				<Thumbpic href='/p3/zoompic_57' src="/assets/portrait/20210728_110344_thumb.webp" />
				<Thumbpic href='/p3/zoompic_58' src="/assets/portrait/20210114_131804_thumb.webp" />
				<Thumbpic href='/p1/zoompic_5' src="/assets/portrait/20210114_140603_thumb.webp" />
				<Thumbpic href='/p1/zoompic_6' src="/assets/portrait/20200703_122229_thumb.webp" />
				<Thumbpic href='/p1/zoompic_7' src="/assets/portrait/20210907_161055_thumb.webp" />
				<Thumbpic href='/p1/zoompic_8' src="/assets/portrait/20210114_113707_thumb.webp" />
				<Thumbpic href='/p1/zoompic_9' src="/assets/portrait/20210114_113656_thumb.webp" />
		</div>
		<h1>360 516 8933</h1>
	</main>
</body>
</html>
