---
// Component Imports
// import Tour from '../components/Tour.astro';
import Header from '../components/Header.astro';
import ButtonGroup from '../components/ButtonGroup.astro';
// You can import components from any supported Framework here!


// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Gallery';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<style global>
		@import "../styles/global.css";
	</style>
</head>
<body>
	<main>
		<Header />

		<ButtonGroup />

		<div class='grid-container'>
			<div class='grid-item'><a href='/p2/zoompic_10'><img src="/assets/portrait/20200703_122219_thumb.webp" loading="lazy" alt='fuckit' /></a></div>
			<div class='grid-item'><a href='/p2/zoompic_11'><img src="/assets/portrait/20210114_131809_thumb.webp" loading="lazy" alt='fuckit' /></a></div>
			<div class='grid-item'><a href='/p2/zoompic_12'><img src="/assets/portrait/20210114_111858_thumb.webp" loading="lazy" alt='fuckit' /></a></div>
			<div class='grid-item'><a href='/p2/zoompic_13'><img src="/assets/portrait/20210728_110226_thumb.webp" loading="lazy" alt='fuckit' /></a></div>
			<div class='grid-item'><a href='/p2/zoompic_14'><img src="/assets/portrait/20210114_111902_thumb.webp" loading="lazy" alt='fuckit' /></a></div>
			<div class='grid-item'><a href='/p2/zoompic_15'><img src="/assets/portrait/20200703_122216_thumb.webp" loading="lazy" alt='fuckit' /></a></div>
			<div class='grid-item'><a href='/p2/zoompic_16'><img src="/assets/portrait/20210709_084059_thumb.webp" loading="lazy" alt='fuckit' /></a></div>
			<div class='grid-item'><a href='/p2/zoompic_17'><img src="/assets/portrait/20210114_130013_thumb.webp" loading="lazy" alt='fuckit' /></a></div>
			<div class='grid-item'><a href='/p2/zoompic_18'><img src="/assets/portrait/20210728_110233_thumb.webp" loading="lazy" alt='fuckit' /></a></div>
			<div class='grid-item'><a href='/p2/zoompic_19'><img src="/assets/portrait/20210709_093733_thumb.webp" loading="lazy" alt='fuckit' /></a></div>
			<div class='grid-item'><a href='/p2/zoompic_20'><img src="/assets/portrait/20200703_122218_thumb.webp" loading="lazy" alt='fuckit' /></a></div>
			<div class='grid-item'><a href='/p2/zoompic_21'><img src="/assets/portrait/20211023_111603_thumb.webp" loading="lazy" alt='fuckit' /></a></div>
			<div class='grid-item'><a href='/p2/zoompic_22'><img src="/assets/portrait/20210709_093705_thumb.webp" loading="lazy" alt='fuckit' /></a></div>
			<div class='grid-item'><a href='/p2/zoompic_23'><img src="/assets/portrait/20211022_082327_thumb.webp" loading="lazy" alt='fuckit' /></a></div>
			<div class='grid-item'><a href='/p2/zoompic_24'><img src="/assets/portrait/20210907_161102_thumb.webp" loading="lazy" alt='fuckit' /></a></div>
			<div class='grid-item'><a href='/p2/zoompic_25'><img src="/assets/portrait/20210709_093724_thumb.webp" loading="lazy" alt='fuckit' /></a></div>
			<div class='grid-item'><a href='/p2/zoompic_26'><img src="/assets/portrait/20210907_161051_thumb.webp" loading="lazy" alt='fuckit' /></a></div>
			<div class='grid-item'><a href='/p2/zoompic_27'><img src="/assets/portrait/20210901_110605_thumb.webp" loading="lazy" alt='fuckit' /></a></div>
			<div class='grid-item'><a href='/p2/zoompic_28'><img src="/assets/portrait/20210703_114202_thumb.webp" loading="lazy" alt='fuckit' /></a></div>
			<div class='grid-item'><a href='/p2/zoompic_29'><img src="/assets/portrait/20201112_104612_thumb.webp" loading="lazy" alt='fuckit' /></a></div>
			<div class='grid-item'><a href='/p2/zoompic_30'><img src="/assets/portrait/20210114_141802_thumb.webp" loading="lazy" alt='fuckit' /></a></div>
			<div class='grid-item'><a href='/p2/zoompic_31'><img src="/assets/portrait/20211022_081949_thumb.webp" loading="lazy" alt='fuckit' /></a></div>
			<div class='grid-item'><a href='/p2/zoompic_32'><img src="/assets/portrait/20210901_110253_thumb.webp" loading="lazy" alt='fuckit' /></a></div>
			<div class='grid-item'><a href='/p2/zoompic_33'><img src="/assets/portrait/20200703_122208_thumb.webp" loading="lazy" alt='fuckit' /></a></div>
			<div class='grid-item'><a href='/p2/zoompic_34'><img src="/assets/portrait/20210901_110237_thumb.webp" loading="lazy" alt='fuckit' /></a></div>
			
		</div>

		<ButtonGroup />

		
		<h1>360 516 8933</h1>

	</main>
</body>
</html>
