---
	import Head from '../components/Head.astro';
	import Header from '../components/Header.astro';
	import BackArrow from '../components/BackArrow.astro';
	import ForwardArrow from '../components/ForwardArrow.astro';
	import Thumbpic from '../components/Thumbpic.astro';
---
<html lang="en">
	<head>
		<Head />
	</head>
	<body>
		<main>
			<Header />
			<div class="arrows">
				<BackArrow href="/" />
				<ForwardArrow href="/page3" />
			</div>
			<div class='grid-container'>
				<Thumbpic href='/p2/zoompic_10' src="/assets/portrait/20200703_122219_thumb.webp" />
				<Thumbpic href='/p2/zoompic_11' src="/assets/portrait/20210114_131809_thumb.webp" />
				<Thumbpic href='/p2/zoompic_12' src="/assets/portrait/20210114_111858_thumb.webp" />
				<Thumbpic href='/p2/zoompic_13' src="/assets/portrait/20210728_110226_thumb.webp" />
				<Thumbpic href='/p2/zoompic_14' src="/assets/portrait/20210114_111902_thumb.webp" />
				<Thumbpic href='/p2/zoompic_15' src="/assets/portrait/20200703_122216_thumb.webp" />
				<Thumbpic href='/p2/zoompic_16' src="/assets/portrait/20210709_084059_thumb.webp" />
				<Thumbpic href='/p2/zoompic_17' src="/assets/portrait/20210114_130013_thumb.webp" />
				<Thumbpic href='/p2/zoompic_18' src="/assets/portrait/20210728_110233_thumb.webp" />
				<Thumbpic href='/p2/zoompic_19' src="/assets/portrait/20210709_093733_thumb.webp" />
				<Thumbpic href='/p2/zoompic_20' src="/assets/portrait/20200703_122218_thumb.webp" />
				<Thumbpic href='/p2/zoompic_21' src="/assets/portrait/20211023_111603_thumb.webp" />
				<Thumbpic href='/p2/zoompic_22' src="/assets/portrait/20210709_093705_thumb.webp" />
				<Thumbpic href='/p2/zoompic_23' src="/assets/portrait/20211022_082327_thumb.webp" />
				<Thumbpic href='/p2/zoompic_24' src="/assets/portrait/20210907_161102_thumb.webp" />
				<Thumbpic href='/p2/zoompic_25' src="/assets/portrait/20210709_093724_thumb.webp" />
				<Thumbpic href='/p2/zoompic_26' src="/assets/portrait/20210907_161051_thumb.webp" />
				<Thumbpic href='/p2/zoompic_27' src="/assets/portrait/20210901_110605_thumb.webp" />
				<Thumbpic href='/p2/zoompic_28' src="/assets/portrait/20210703_114202_thumb.webp" />
				<Thumbpic href='/p2/zoompic_29' src="/assets/portrait/20201112_104612_thumb.webp" />
				<Thumbpic href='/p2/zoompic_30' src="/assets/portrait/20210114_141802_thumb.webp" />
				<Thumbpic href='/p2/zoompic_31' src="/assets/portrait/20211022_081949_thumb.webp" />
				<Thumbpic href='/p2/zoompic_32' src="/assets/portrait/20210901_110253_thumb.webp" />
				<Thumbpic href='/p2/zoompic_33' src="/assets/portrait/20200703_122208_thumb.webp" />
				<Thumbpic href='/p2/zoompic_34' src="/assets/portrait/20210901_110237_thumb.webp" />
				<Thumbpic href='/p1/zoompic_3' src="/assets/portrait/20200703_122220_thumb.webp" />
				<Thumbpic href='/p1/zoompic_2' src="/assets/portrait/20210907_161104_thumb.webp" />
				<Thumbpic href='/p1/zoompic_1' src="/assets/portrait/20210901_110340_thumb.webp" />
				<Thumbpic href='/p1/zoompic_4' src="/assets/portrait/20210918_105122_thumb.webp" />
			</div>
			<h1>360 516 8933</h1>
		</main>
	</body>
</html>
